<web-app>
    <servlet>
        <servlet-name>HelloWorldWS</servlet-name>
        <servlet-class>org.switchyard.quickstarts.webservice.consumer1.HelloWorldWS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldWS</servlet-name>
        <url-pattern>/HelloWorldWS</url-pattern>
    </servlet-mapping>
</web-app>